{{ define "main" }}
  <h2>{{ .Title }}</h2>

  <p>Waiting for search input:
    <br>
  (English only 中文搜索支持正加班加点中🤪🤪)</p>
  
  <center>

  <input type="search" id="searchField"> 
  <button id="searchButton">Search</button>
  <br>
  <input id="allwords" type="checkbox">
  <label for="allwords">Require all words</label>

  </center>
  <br>
  
  <div id="output">
  </div>
  
  <script src="//unpkg.com/lunr@2.3.6/lunr.js"></script>
  <script src="//unpkg.com/axios@0.19.0/dist/axios.js"></script>
  <script src="{{ "js/search.js" | relURL }}"></script>

  
{{ end }}